{{ define "main" }}

<div class="content">
<div class="container content-container">
<section class="main-content">
<h2 class="content-title">{{ .Params.Title }}</h2>
<p>Der Kunde zählt als Mensch, mit dem wir kollegial - von Mensch zu Mensch - authentisch zusammenarbeiten. So entstehen spannende und inspirierende Projekte.</p>

<p>Der Kunde zählt als Mensch, mit dem wir kollegial - von Mensch zu Mensch - authentisch zusammenarbeiten. So entstehen spannende und inspirierende Projekte.</p>

<p>Der Kunde zählt als Mensch, mit dem wir kollegial - von Mensch zu Mensch - authentisch zusammenarbeiten. So entstehen spannende und inspirierende Projekte.</p>

<h3>Milestones & Facts</h3>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
<p><b>2009</b></p>
<ul>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
    <li>Gründung der OBJECT ECM AG in Zürich durch Oliver Huser (CEO) und Björn Abt (CTO)</li>
</ul>
</section>

<aside class="contact">
<!-- code here -->
</aside>

</div>
</div>

{{ end }}