<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consulting</title>
    <link rel="stylesheet" href="{{"css/normalize.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/style.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/header.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/footer.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/cards.css" | relURL}}">
    <link rel="stylesheet" href="{{"css/article-page.css" | relURL}}">
</head>
<body class="{{ .Params.specialclass }}">

    <div id="article-page" class="container-main">

        {{ block "header" . }}

            {{ partial "second-header" . }}

        {{ end }}


        <div>
            {{ block "main" . }}
            
                {{ .Content }}
            
            {{ end }}
            
            
            {{ block "footer" . }}
            
                {{ partial "second-footer" . }}
            
            {{ end }}
        </div>

    </div>


    <script src="{{"js/jquery-3.3.1.min.js" | relURL}}"></script>
    <script src="{{"js/script.js" | relURL}}"></script>
    
</body>
</html>