<!-- .footer begin -->
	<footer class="footer">

		<!-- .footer__column begin -->
		<div class="footer__socials">

			<span>Follow us:</span>

			<a href="{{ .Site.Params.xing }}"><i class="icon icon-xing"></i></a>
			<a href="{{ .Site.Params.facebook }}"><i class="icon icon-facebook"></i></a>
			<a href="{{ .Site.Params.twitter }}"><i class="icon icon-twitter"></i></a>
			<a href="{{ .Site.Params.linkedin }}"><i class="icon icon-linkedin"></i></a>
			<a href="{{ .Site.Params.google }}"><i class="icon icon-google"></i></a>
			<a href="{{ .Site.Params.vimeo }}"><i class="icon icon-vimeo"></i></a>

		</div>
		<!-- .footer__column end -->


		<!-- .footer__column begin -->
		<div class="footer__link">

			<a href="javascript:void(0)" class="green-link">GET OUR NEWSLETTER</a>

		</div>
		<!-- .footer__column end -->


		<!-- .footer__column begin -->
		<div class="footer__menu">

			<a href="javascript:void(0)">kontakt</a>
			<a href="javascript:void(0)">Impressum</a>
			<a href="javascript:void(0)">AGBs</a>
			<span>© 2018 OBJECT</span>
			<a href="javascript:void(0)" class="footer__plus"></a>

		</div>
		<!-- .footer__column end -->

	</footer>
	<!-- .footer end -->

	</div>


	<script src="js/libs.min.js"></script>
	<script src="js/main.js"></script>