	<!-- .review begin -->
	<div class="review">

		<div class="review__slides review-js">

			<!-- .review__slide begin -->
			<div class="review__slide">

				<div class="review__title">{{ .Params.homeRev1Title }}</div>

				<div class="review__text">{{ .Params.homeRev1Message }}</div>

				<div class="review__subtitle">{{ .Params.homeRev1Author }}</div>

			</div>
			<!-- .review__slide end -->

			<!-- .review__slide begin -->
			<div class="review__slide">

				<div class="review__title">{{ .Params.homeRev2Title }}</div>

				<div class="review__text">{{ .Params.homeRev2Message }}</div>

				<div class="review__subtitle">{{ .Params.homeRev2Author }}</div>

			</div>
			<!-- .review__slide end -->

			<!-- .review__slide begin -->
			<div class="review__slide">

				<div class="review__title">{{ .Params.homeRev3Title }}</div>

				<div class="review__text">{{ .Params.homeRev3Message }}</div>

				<div class="review__subtitle">{{ .Params.homeRev3Author }}</div>

			</div>
			<!-- .review__slide end -->

		</div>

		<div class="slider__next slider__next--rev"><i class="icon icon-forward"></i></div>
		<div class="slider__prev slider__prev--rev"><i class="icon icon-back"></i></div>

	</div>
	<!-- .review end -->