	<!-- .slider begin -->
	<div class="slider">

		<div class="slider__slides slider-js">

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide1img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Ihr Spezialist für ECM und massgeschneiderte IT-Lösungen</h2>
					<a href="javascript:void(0)" class="green-link">Join Us</a>
				</div>

			</div>
			<!-- .slider__slide end -->

				<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide2img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Der IT-Partner für Beratungsfirmen</h2>
					<a href="javascript:void(0)" class="green-link">Mehr zum Thema Consulting</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide3img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">IT-Lösungen für Anwaltskanzleien und Rechtsinstitutionen</h2>
					<a href="javascript:void(0)" class="green-link">Mehr zum Thema Recht</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide4img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Informationstechnologien für die Luftfahrtbranche</h2>
					<a href="javascript:void(0)" class="green-link">Weitere Informationen für die Luftfahrt</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide5img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Digitale Lösungen für das Bildungswesen</h2>
					<a href="javascript:void(0)" class="green-link">Informationen für das Bildungswesen</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide6img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Systemübergreifende Lösungen für Industriebetriebe</h2>
					<a href="javascript:void(0)" class="green-link">Mehr zum Thema Paperless Office</a>
				</div>

			</div>
			<!-- .slider__slide end -->


			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide7img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Der IT-Spezialist für die öffentliche Hand</h2>
					<a href="javascript:void(0)" class="green-link">Informationen zur Digitalisierung</a>
				</div>

			</div>
			<!-- .slider__slide end -->


			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide8img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Ganzheitliche IT-Lösungen für die Unterhaltungsbranche</h2>
					<a href="javascript:void(0)" class="green-link">Informationen über die sichere Kollaboration</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide9img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Komplexe Lösungen für Banken und Finanzinstitute</h2>
					<a href="javascript:void(0)" class="green-link">Informationen für die Finanzindustrie</a>
				</div>

			</div>
			<!-- .slider__slide end -->

			<!-- .slider__slide begin -->
			<div class="slider__slide" style="background-image: url({{ .Params.slide10img  }});">

				<div class="slider__inner">
					<div class="slider__topTitle"><img src="{{ .Params.slideLogoImg }}" alt="img"></div>
					
					<h2 class="slider__title">Individuelle Lösungen für die Automobilbranche</h2>
					<a href="javascript:void(0)" class="green-link">Weitere Informationen für die Autoindustrie</a>
				</div>

			</div>
			<!-- .slider__slide end -->

		</div>
		<div class="slider__next slider__next--banner"><i class="icon icon-forward"></i></div>
		<div class="slider__prev slider__prev--banner"><i class="icon icon-back"></i></div>

	</div>
	<!-- .slider end -->